thisset = {"apple", "banana", "cherry"}
print(thisset)

In [3]:
# Duplicate values will be ignored:
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

{'apple', 'cherry', 'banana'}

In [9]:
thisset={"apple","banana","cherry",True,1,2}
print(thisset)

{True, 2, 'cherry', 'banana', 'apple'}

In [11]:
# Duplicate values will be ignored:
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

{'apple', 'cherry', 'banana'}

In [13]:
# Get the number of items in a set:
thisset = {"apple", "banana", "cherry"}
print(len(thisset))

3

In [15]:
# Set items can be of any data type:
# String, int and boolean data types:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
set4 = {"abc", 34, True, 40, "male"}
print(set4)

{True, 34, 'male', 'abc', 40}

In [17]:
print(type(set4))

<class 'set'>

In [19]:
thisset=set(("apple","banana","cherry"))
print(thisset)

{'apple', 'cherry', 'banana'}

In [21]:
thisset={"appple","banana","cherry"}
print("banana" in thisset)

True

In [25]:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
 print(x)

apple
cherry
banana

In [27]:
thisset={"apple","banana","cherry"}
print("banana" not in thisset)

False

In [29]:
thisset={"apple","banana","cherry"}
thisset.add("orange")
print(thisset)

{'apple', 'orange', 'cherry', 'banana'}

In [31]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)

{'pineapple', 'cherry', 'banana', 'papaya', 'apple', 'mango'}

In [33]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
thisset.update(mylist)
print(thisset)

{'banana', 'apple', 'orange', 'cherry', 'kiwi'}

In [35]:
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

{'apple', 'cherry'}

In [37]:
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

{'apple', 'cherry'}

In [39]:
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)
print(thisset)

apple
{'cherry', 'banana'}

In [41]:
thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

set()

In [43]:


thisset = {"apple", "banana", "cherry"}
del thisset
print(thisset)

NameError: name 'thisset' is not defined

In [47]:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
 print(x)

apple
cherry
banana

In [49]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'c', 'b'}

In [51]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = set1 | set2
print(set3)

{1, 2, 3, 'a', 'c', 'b'}

In [53]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}
myset = set1.union(set2, set3, set4)
print(myset)

{1, 2, 3, 'a', 'bananas', 'apple', 'c', 'b', 'cherry', 'Elena', 'John'}

In [55]:
x = {"a", "b", "c"}
y = (1, 2, 3)
z = x.union(y)
print(z)

{1, 2, 3, 'a', 'c', 'b'}

In [57]:
# The update() method inserts the items in set2 into set1:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set1.update(set2)
print(set1)

{1, 2, 3, 'a', 'c', 'b'}

In [59]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [61]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1 & set2
print(set3)

{'apple'}

In [63]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set1.intersection_update(set2)
print(set1)

{'apple'}

In [65]:
set1 = {"apple", 1, "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}
set3 = set1.intersection(set2)
print(set3)

{False, 1, 'apple'}

In [69]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.difference(set2)
print(set3)

{'cherry', 'banana'}

In [73]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.difference(set2)
print(set3)

{'cherry', 'banana'}

In [75]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set1.difference_update(set2)
print(set1)

{'cherry', 'banana'}

In [77]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.symmetric_difference(set2)
print(set3)

{'banana', 'google', 'microsoft', 'cherry'}

In [79]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1 ^ set2
print(set3)

{'banana', 'google', 'microsoft', 'cherry'}

In [81]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set1.symmetric_difference_update(set2)
print(set1)

{'microsoft', 'google', 'banana', 'cherry'}