In [1]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [3]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
#A tuple with strings, integers and boolean values:
tuple4 = ("abc", 34, True, 40, "male")
print(type(tuple4))

<class 'tuple'>

In [5]:
#Using Round Brackets
tup = ("gfg", "Python")
print(tup)

('gfg', 'Python')

In [7]:
# Using Comma Separated
# Creating a tuple without brackets
tup = 4, 5, 6
print(tup)

(4, 5, 6)

In [9]:
# Using Tuple Constructor
# Creating a tuple using the tuple() constructor
tup = tuple([7, 8, 9])
print(tup)

(7, 8, 9)

In [11]:
# Creating an Empty Tuple
# Creating an empty tuple
tup = ()
print(tup)

()

In [13]:
# Single Element Tuple
# Creating a single-element tuple
tup = (10, ) # Comma is important here
print(tup) # Output: (10,)
print(type(tup))
# What if we do not use comma
tup = (10) # This an integer (not a tuple)
print(tup)
print(type(tup))

(10,)
<class 'tuple'>
10
<class 'int'>

In [15]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [17]:
#Print the second item in the tuple:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [19]:
# Print the last item of the tuple:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [21]:
#Return the third, fourth, and fifth item:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [23]:
# This example returns the items from the beginning to, but NOT included, "kiwi":
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [27]:
# Check if "apple" is present in the tuple:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
 print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [33]:
#Convert the tuple into a list, add "orange", and convert it back into a tuple:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [35]:
# 2. Add tuple to a tuple. You are allowed to add tuples to tuples, so if you want to add one item, (or many),
# Create a new tuple with the value "orange", and add that tuple:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [37]:
# Convert the tuple into a list, remove "apple", and convert it back into a tuple:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('banana', 'cherry')

In [41]:
#Define a tuple
tup = (1, 2, 3, 4, 5)
# Traverse through each item in the tuple
for x in tup:
 print(x, end=" ")

1 2 3 4 5

In [43]:
# Code for creating nested tuples
tup1 = (0, 1, 2, 3)
tup2 = ('python', 'geek')
tup3 = (tup1, tup2)
print(tup3)

((0, 1, 2, 3), ('python', 'geek'))

In [45]:
# Code to create a tuple with repetition
tup = ('python',)*3
print(tup)

('python', 'python', 'python')

In [47]:
# code to test slicing
tup = (0 ,1, 2, 3)
print(tup[1:])
print(tup[::-1])
print(tup[2:4])

(1, 2, 3)
(3, 2, 1, 0)
(2, 3)

In [49]:
# Code for printing the length of a tuple
tup = ('python', 'geek')
print(len(tup))

2

In [51]:
# Code for converting a list and a string into a tuple
a = [0, 1, 2]
tup = tuple(a)
print(tup)

(0, 1, 2)